.footer {
  margin-top: auto;
  background-color: #fafafa;
}

.footer__top {
  @include container;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 58px;
}

.footer__logo img {
  width: 216px;
  height: 52px;
}

.footer__logo {
  display: block;
  margin-bottom: 49px;
}

.footer__copyright-top {
  display: none;
}

.footer__social {
  width: 216px;
}

.footer__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70.2%;
  font-size: 15px;
  line-height: 25px;
  color: $dark-clear;
}

.footer__block {
  &--menu-site {
    width: 50%;
  }

  &--contacts {
    width: 33.9%;
  }
}

.footer__list {
  @include reset-list;

  &--left {
    margin-right: 15%;
  }
}

.footer__title {
  @include text($roboto-condensed, 15px, 16px);
  margin-bottom: 25px;
  padding-left: 2px;
  font-weight: 400;
  color: $dark;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer__button {
  display: none;
}

.footer__item a {
  color: $dark-clear;

  &:hover,
  &:focus {
    color: $blue;
  }
}

.footer__content-block {
  &--menu-site {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__bottom {
  padding-top: 14px;
  padding-bottom: 14px;
  border-top: 1px solid $grey;
}

.footer__wrapper-bottom {
  @include container;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 13px;
  line-height: 24px;
  color: $dark-clear;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.footer__wrapper-bottom a {
  color: $dark-clear;

  &:hover,
  &:focus {
    color: $blue;
  }
}

.footer__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 32.4%;
  margin: 0;
  margin-right: 10%;
}

.footer__rights {
  width: 165px;
  margin-right: 10px;
}

.footer__conditions,
.footer__developer {
  width: 220px;
}

.footer__conditions {
  margin: 0;
}

.footer__developer {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-align: right;
}

@media (max-width: 1350px) {
  .footer__copyright {
    width: 45%;
    margin-right: 7%;
  }
}

@media (max-width: $tablet-width) {
  .footer__top {
    display: block;
    padding: 0;
  }

  .footer__social {
    width: auto;
    padding-top: 19px;
    padding-bottom: 26px;
    border-bottom: 1px solid $grey;
  }

  .footer__logo {
    width: 216px;
    margin-bottom: 0;
  }

  .footer__wrapper-social,
  .footer__blocks,
  .footer__wrapper-bottom {
    @include padding-tablet;
  }

  .footer__wrapper-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__list-social {
    width: 112px;
  }

  .footer__wrapper-bottom {
    justify-content: space-between;
  }

  .footer__developer {
    margin-left: 0;
  }

  .footer__copyright-top {
    display: block;
    width: 250px;
    padding-top: 5px;
    padding-left: 13px;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: $dark-clear;
  }

  .footer__blocks {
    width: auto;
    padding-top: 38px;
    padding-bottom: 36px;
  }

  .footer__block {
    &--menu-site {
      width: 40%;
    }

    &--contacts {
      width: 48%;
    }
  }

  .footer__content-block {
    &--menu-site {
      display: block;
    }
  }

  .footer__bottom {
    padding-top: 21px;
    padding-bottom: 24px;
  }

  .footer__copyright {
    display: none;
  }

  .footer__conditions,
  .footer__developer {
    width: 260px;
  }
}

@media (max-width: $mobile-width) {
  .footer__social {
    padding-top: 46px;
    padding-bottom: 49px;
  }

  .footer__wrapper-social,
  .footer__wrapper-block,
  .footer__wrapper-bottom {
    @include padding-mobile;
  }


  .footer__wrapper-social {
    flex-direction: column;
  }

  .footer__logo {
    margin-bottom: 26px;
  }

  .footer__copyright-top {
    width: 90%;
    margin-bottom: 26px;
    padding-left: 0;
    padding-top: 0;
  }

  .footer__list-social {
    justify-content: center;
    width: 70%;
  }

  .footer__blocks {
    display: block;
    padding: 0;
  }

  .footer__block {
    width: 100%;
    padding-top: 28px;
    padding-bottom: 27px;
    border-bottom: 1px solid $grey;
  }

  .footer__content-block {
    display: none;

    &--contacts {
      width: 90%;
    }
  }

  .footer__title {
    position: relative;
    margin-bottom: 0;
    padding-right: 20px;
    padding-left: 0;
  }

  .footer__bottom {
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: none;
  }

  .footer__wrapper-bottom {
    flex-direction: column;
  }

  .footer__conditions,
  .footer__developer {
    width: 80%;
    text-align: center;
  }

  .footer__conditions {
    margin-bottom: 21px;
  }

  .footer__wrapper-title {
    position: relative;
  }

  .footer__button {
    @include reset-button;
    display: block;
    position: absolute;
    top: 0;
    right: 2px;
    width: 16px;
    height: 16px;
    padding: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 7px;
      right: 0;
      width: 16px;
      height: 1px;
      background-color: #c4c4c4;
    }

    &::after {
      transform: rotate(-90deg);
    }
  }

  .footer__block--open .footer__content-block,
  .footer__blocks--nojs .footer__content-block {
    display: block;
  }

  .footer__block--open .footer__title,
  .footer__blocks--nojs .footer__title {
    margin-bottom: 33px;
  }

  .footer__block--open .footer__button {
    &::after {
      display: none;
    }
  }

  .footer__blocks--nojs .footer__button {
    display: none;
  }
}
