.goods {
  background-color: $dark;
  color: $white;
}

.goods__wrapper {
  @include container;
  padding-top: 90px;
  padding-bottom: 97px;
}

.goods__wrapper h2 {
  @include text($roboto-condensed, 36px, 51px);
  width: 83%;
  margin: 0 auto 50px;
  font-weight: 400;
}

.goods__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  width: 83%;
  margin: 0 auto;
}

.goods__item {
  width: 31.6%;
  min-height: 620px;
  margin-bottom: 30px;

  &:not(:nth-child(3n)) {
    margin-right: 2.5%;
  }

  &--production {
    background: url("../img/bg-goods1-desktop@1x.png") no-repeat center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-goods1-desktop@2x.png");
      background-size: 370px 620px;
    }
  }

  &--installation {
    background: url("../img/bg-goods2-desktop@1x.png") no-repeat center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-goods2-desktop@2x.png");
      background-size: 370px 620px;
    }
  }

  &--components {
    background: url("../img/bg-goods3-desktop@1x.png") no-repeat center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-goods3-desktop@2x.png");
      background-size: 370px 620px;
    }
  }
}

.goods__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 51px 44px;
  font-family: $roboto-condensed;
  font-size: 20px;
  line-height: 30px;
  color: $white;
  background-color: $grey;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 63px;
    height: 63px;
    background-color: $blue;
  }

  &::after {
    @include arrow(6px, 6px, -135deg);
    bottom: 28px;
    right: 28px;
  }

  &:hover,
  &:focus {
    color: $blue;

    &::before {
      background-color: $white;
    }

    &::after {
      border-color: $blue;
    }
  }
}

.goods__item p {
  margin: 0;
  width: 170px;
}

@media (max-width: $tablet-width) {
  .goods__wrapper {
    @include padding-tablet;
    padding-top: 50px;
    padding-bottom: 78px;
  }

  .goods__wrapper h2 {
    width: 86%;
    margin: 0 0 49px;
    font-size: 32px;
    line-height: 45px;
  }

  .goods__list {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: auto;
  }

  .goods__item {
    width: 715px;
    min-height: 256px;

    &:not(:last-child) {
      margin-bottom: 46px;
    }

    &--production {
      background: url("../img/bg-goods1-tablet@1x.png") no-repeat center top;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-goods1-tablet@2x.png");
        background-size: 715px 256px;
      }
    }

    &--installation {
      background: url("../img/bg-goods2-tablet@1x.png") no-repeat center top;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-goods2-tablet@2x.png");
        background-size: 715px 256px;
      }
    }

    &--components {
      background: url("../img/bg-goods3-tablet@1x.png") no-repeat center top;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-goods3-tablet@2x.png");
        background-size: 715px 256px;
      }
    }
  }

  .goods__link {
    min-height: 256px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: $mobile-width) {
  .goods__wrapper {
    @include padding-mobile;
    padding-bottom: 64px;
  }

  .goods__wrapper h2 {
    width: 95%;
    margin: 0 auto 41px;
    font-size: 28px;
    line-height: 39px;
  }

  .goods__item {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &--production {
      background: url("../img/bg-goods1-mobile@1x.png") no-repeat center top;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-goods1-mobile@2x.png");
        background-size: 100% auto;
      }
    }

    &--installation {
      background: url("../img/bg-goods2-mobile@1x.png") no-repeat center top;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-goods2-mobile@2x.png");
        background-size: 100% auto;
      }
    }

    &--components {
      background: url("../img/bg-goods3-mobile@1x.png") no-repeat center top;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-goods3-mobile@2x.png");
        background-size: 100% auto;
      }
    }
  }

  .goods__link {
    padding: 20px 33px;

    &::after {
      right: 31px;
    }
  }
}
