.header {
  color: $white;
  background-color: $dark;
}

.header__wrapper {
  @include container;
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.header__contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
}

.header__logo {
  display: flex;
  width: 202px;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  display: flex;
  align-items: center;
  color: $white;

  & svg {
    margin-right: 17px;
  }

  &:hover,
  &:focus {
    color: $blue;
  }

  &:hover path,
  &:focus path {
    fill: $white;
  }

  &--phone {
    margin-left: 9%;
  }
}

.header__button {
  @include button(180px, 45px, 14px, $white);
  margin-left: 5%;

  &:hover,
  &:focus {
    color: $blue;
    border-color: $blue;
  }
}

@media (max-width: $tablet-width) {
  .header__wrapper {
    @include padding-tablet;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__link {
    font-size: 0;

    & svg {
      margin-right: 0;
    }

    &--email svg {
      width: 26px;
      height: 19px;
    }

    &--phone {
      margin-left: 33px;

      & svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .header__button {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .header__wrapper {
    @include padding-mobile;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .header__logo,
  .header__logo-image {
    width: 38px;
    height: 38px;
  }

  .header__logo-text {
    display: none;
  }

  .header__link {
    &--phone {
      margin-left: 24px;
    }
  }
}
