.page-main__wrapper {
  padding-top: 112px;
  padding-bottom: 96px;
  background: $white url("../img/bg-advantages@1x.png") no-repeat center top -30px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-advantages@2x.png");
    background-size: 2512px 1347px;
    background-position: center top -30px;
  }
}

@media (max-width: $tablet-width) {
  .page-main__wrapper {
    padding-top: 54px;
    padding-bottom: 75px;
    background-position: -646px -88px;
  }
}

@media (max-width: $mobile-width) {
  .page-main__wrapper {
    padding-top: 37px;
    padding-bottom: 65px;
    background-position: -976px 476px;
  }
}

.page-main__popup.popup {
  display: block;
}
