$dark-grey:#666666;
$dark:#1b2d37;
$dark-clear: rgba(27, 45, 55, 0.5);
$white: #ffffff;
$blue: #00b2ff;
$grey: rgba(98, 105, 98, 0.2);
$pt-mono: "PT Mono", "Courier New", monospace;
$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$mobile-width: 767px;
$tablet-width: 1023px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
